.blackIcon {
  height: 43.8px;
  width: 76px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 21.9px);
  left: 299px;
  object-fit: contain;
}
.friday {
  text-decoration: none;
  position: relative;
  line-height: 32px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 72px;
}
.closeIcon {
  width: 239.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.upTo {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.upToWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.off,
.offContainer {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.offContainer {
  font-size: var(--display-04-size);
  line-height: 48px;
  color: var(--warning-500);
  min-width: 90px;
}
.off {
  line-height: 28px;
  color: inherit;
  min-width: 40px;
}
.discount,
.offWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.offWrapper {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--body-xl-600-size);
}
.discount {
  flex-direction: row;
  gap: var(--gap-5xs-5);
}
.discountWrapper,
.label {
  font-size: var(--body-small-400-size);
}
.discountWrapper {
  width: 351px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.label {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--body-small-400);
  color: var(--gray-900);
  text-align: left;
  display: inline-block;
  min-width: 80px;
}
.regulararrowrightIcon {
  width: 20px;
  height: 20px;
  position: relative;
}
.button,
.regulararrowrightWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-5xl);
  background-color: var(--warning-500);
  border-radius: var(--br-11xs);
  flex-direction: row;
  gap: var(--gap-5xs);
}
.duotonexIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.closeButton,
.closeButtonWrapper,
.widget {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.closeButton {
  border-radius: var(--br-11xs);
  background-color: var(--gray-800);
  flex-direction: row;
  padding: var(--padding-5xs);
}
.closeButtonWrapper,
.widget {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.widget {
  align-self: stretch;
  background-color: var(--gray-900);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-base)
    var(--padding-368xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
}
.followUs1,
.welcomeToClicon {
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  white-space: nowrap;
}
.facebookIcon,
.instagramIcon,
.pinterestIcon,
.redditIcon,
.twitterIcon,
.youtubeIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.followUs,
.socialIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.followUs {
  align-items: center;
  flex-shrink: 0;
}
.leftContentChild {
  height: 29px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--gray-00);
  box-sizing: border-box;
  opacity: 0.16;
}
.eng {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
}
.regularcaretdownIcon {
  height: 12px;
  width: 12px;
  position: relative;
}
.dropdown {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.multiLanguagedrodpwon {
  height: 20px;
  width: 44px;
  position: relative;
}
.usd {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
}
.regularcaretdownIcon1 {
  height: 12px;
  width: 12px;
  position: relative;
}
.dropdown1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.multiCurrencydropdown {
  height: 20px;
  width: 47px;
  position: relative;
}
.leftContent,
.topNav {
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.leftContent {
  height: 28px;
  display: flex;
  justify-content: center;
  gap: var(--gap-5xl);
}
.topNav {
  align-self: stretch;
  box-shadow: 0-1px 0 rgba(255, 255, 255, 0.16) inset;
  background-color: var(--secondary-700);
  display: none;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-281xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.allCategory {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
  white-space: nowrap;
}
.regularcaretdownIcon2 {
  width: 16px;
  height: 16px;
  position: relative;
}
.button1,
.category,
.regularcaretdownWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.regularcaretdownWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.button1,
.category {
  flex-direction: row;
}
.button1 {
  border-radius: var(--br-11xs);
  background-color: var(--gray-50);
  padding: var(--padding-sm) var(--padding-5xl);
  gap: var(--gap-6xs);
}
.category {
  flex: 1;
  min-width: 100px;
  color: var(--gray-900);
}
.regularmappinlineIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.trackOrder1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 77px;
  white-space: nowrap;
}
.trackOrderWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.breadcrumbs,
.trackOrder,
.trackOrderWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.trackOrder {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.breadcrumbs {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.duotonearrowscounterclockwise {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.compare1 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
  display: inline-block;
  min-width: 59px;
}
.compareWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.breadcrumbs1,
.compare,
.compareWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.compare {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.breadcrumbs1 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.regularheadphonesIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.customerSupport1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 120px;
  white-space: nowrap;
}
.customerSupportWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.breadcrumbs2,
.customerSupport,
.customerSupportWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.customerSupport {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.breadcrumbs2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  min-width: 97px;
}
.regularinfoIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.needHelp1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 70px;
  white-space: nowrap;
}
.needHelpContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.needHelp {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.leftSide,
.needHelp,
.needHelpWrapper {
  display: flex;
  align-items: flex-start;
}
.needHelpWrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.leftSide {
  width: 695px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.regularphonecallIcon {
  height: 28px;
  width: 28px;
  position: relative;
  min-height: 28px;
}
.div {
  position: relative;
  letter-spacing: -0.01px;
  line-height: 24px;
  white-space: nowrap;
}
.callNow,
.wrapper {
  justify-content: flex-start;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.callNow {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.bottomNav,
.callNow,
.callNowWrapper {
  display: flex;
  align-items: flex-start;
}
.callNowWrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
}
.bottomNav {
  align-self: stretch;
  box-shadow: 0-1px 0#e4e7e9 inset;
  background-color: var(--gray-00);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-424xl);
  max-width: 100%;
  color: var(--gray-600);
}
.navigation,
.navigation1 {
  flex-direction: column;
  justify-content: flex-start;
}
.navigation1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-small-400-size);
  color: var(--gray-00);
  font-family: var(--body-small-400);
}
.navigation {
  margin-top: -248px;
  flex-shrink: 0;
}
.navigation,
.pageNavigation,
.productGrid,
.productList {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.productGrid {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.pageNavigation,
.productList {
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.productList {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0 var(--padding-53xl);
  gap: 1720px;
  flex-shrink: 0;
}
.electronics,
.quickLinks1 {
  position: relative;
  font-weight: 500;
}
.quickLinks1 {
  align-self: stretch;
  line-height: 24px;
  text-transform: uppercase;
}
.electronics {
  line-height: 20px;
  display: inline-block;
  min-width: 90px;
}
.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
}
.electronics1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 87px;
}
.footerLinks1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
}
.electronics2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 54px;
}
.footerLinks2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
}
.electronics3 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
}
.footerLinks3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
}
.electronics4 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.footerLinks4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
}
.electronics5 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 99px;
}
.footerLinks5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
}
.electronics6 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.footerLinks6,
.item,
.quickLinks {
  display: flex;
  justify-content: flex-start;
}
.footerLinks6 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-7xs) 0;
}
.item,
.quickLinks {
  flex-direction: column;
  align-items: flex-start;
}
.item {
  font-size: var(--body-small-400-size);
  color: var(--gray-400);
}
.quickLinks {
  width: 200px;
  gap: var(--gap-xs);
}
.downloadApp {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}
.icongooglePlay1 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.getItNow {
  align-self: stretch;
  position: relative;
  line-height: 13px;
}
.googlePlay {
  position: relative;
  font-size: var(--body-small-400-size);
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 88px;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.mobileApp {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background-color: var(--gray-800);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-base);
}
.appleNegative1Icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.getItNow1 {
  align-self: stretch;
  position: relative;
  line-height: 13px;
}
.appStore {
  position: relative;
  font-size: var(--body-small-400-size);
  line-height: 20px;
  font-weight: 600;
}
.info1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.mobileApp1 {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background-color: var(--gray-800);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-base);
}
.links,
.quickLinks2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links {
  width: 176px;
  gap: var(--gap-xs);
  font-size: var(--font-size-2xs);
  font-family: var(--font-inter);
}
.quickLinks2 {
  width: 200px;
  gap: var(--gap-lg);
}
.cooking,
.popularTag1 {
  position: relative;
  font-weight: 500;
}
.popularTag1 {
  align-self: stretch;
  line-height: 24px;
  text-transform: uppercase;
}
.cooking {
  line-height: 20px;
  display: inline-block;
  min-width: 39px;
}
.tag1 {
  width: 63px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 45px;
}
.tag2 {
  width: 69px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 19px;
}
.tag3 {
  width: 43px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking3 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
}
.row,
.tag4 {
  display: flex;
  flex-direction: row;
}
.tag4 {
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.row {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cooking4 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.tag5 {
  width: 85px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking5 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 29px;
}
.tag6 {
  width: 53px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking6 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 93px;
}
.row1,
.tag7 {
  display: flex;
  flex-direction: row;
}
.tag7 {
  border-radius: var(--br-11xs);
  background-color: var(--gray-800);
  border: 1px solid var(--gray-00);
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
  white-space: nowrap;
}
.row1 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cooking7 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.tag8 {
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking8 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 63px;
}
.tag9 {
  width: 87px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking9 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 55px;
}
.row2,
.tag10 {
  display: flex;
  flex-direction: row;
}
.tag10 {
  width: 79px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.row2 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cooking10 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 42px;
}
.tag11 {
  width: 66px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking11 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 71px;
}
.tag12 {
  flex: 1;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.cooking12 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
}
.tag13 {
  width: 86px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.row3,
.tag {
  gap: var(--gap-5xs);
}
.row3 {
  width: 263px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--body-small-400-size);
}
.footer1,
.popularTag,
.tag {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.popularTag {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
  min-width: 203px;
}
.footer1 {
  margin-top: -403px;
  align-self: stretch;
  background-color: var(--gray-900);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-53xl) var(--padding-281xl);
  gap: var(--gap-5xl);
  flex-shrink: 0;
}
.kinboEcommerce {
  width: 1320px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.copyright,
.footer,
.products {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.copyright {
  align-self: stretch;
  box-shadow: 0 1px 0#303639 inset;
  background-color: var(--gray-900);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl);
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
  margin-top: -1px;
  text-align: center;
  font-size: var(--body-small-400-size);
  color: var(--gray-300);
}
.footer,
.products {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  color: var(--gray-00);
  font-family: var(--body-small-400);
}
.footer {
  align-self: stretch;
  height: 470px;
  padding: var(--padding-383xl-1) 0 var(--padding-47xl-9);
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--label-02-size);
}
.products {
  width: 100%;
  height: 3109px;
  position: relative;
  background-color: var(--gray-00);
  overflow: hidden;
  padding: 247.5px 0 469.5px;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--body-xxl-400-size);
}
@media screen and (max-width: 1525px) {
  .bottomNav,
  .topNav,
  .widget {
    flex-wrap: wrap;
  }
  .bottomNav {
    justify-content: center;
  }
  .footer,
  .products {
    height: auto;
  }
}
@media screen and (max-width: 1225px) {
  .widget {
    padding-left: var(--padding-174xl);
    box-sizing: border-box;
  }
  .bottomNav {
    gap: var(--gap-202xl);
  }
  .productList {
    gap: 860px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-12xl);
  }
  .footer,
  .footer1,
  .productList {
    box-sizing: border-box;
  }
  .footer1 {
    padding-left: var(--padding-131xl);
    padding-right: var(--padding-131xl);
  }
  .footer {
    padding-top: var(--padding-242xl);
    padding-bottom: var(--padding-24xl);
  }
}
@media screen and (max-width: 850px) {
  .offContainer {
    font-size: var(--heading-01-size);
    line-height: 38px;
  }
  .widget {
    padding-left: var(--padding-77xl);
    box-sizing: border-box;
  }
  .followUs,
  .socialIcon {
    flex-wrap: wrap;
  }
  .leftContent {
    height: auto;
  }
  .leftSide {
    flex-wrap: wrap;
  }
  .bottomNav {
    gap: var(--gap-92xl);
  }
  .productList {
    gap: 430px;
    padding-bottom: var(--padding-xl);
  }
  .footer,
  .footer1,
  .productList {
    box-sizing: border-box;
  }
  .footer1 {
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-56xl);
  }
  .footer {
    padding-top: var(--padding-151xl);
    padding-bottom: var(--padding-9xl);
  }
}
@media screen and (max-width: 450px) {
  .friday {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .offContainer {
    font-size: var(--body-xxl-400-size);
    line-height: 29px;
  }
  .off {
    font-size: var(--label-02-size);
    line-height: 22px;
  }
  .bottomNav {
    gap: var(--gap-36xl);
  }
  .row,
  .row1,
  .row2 {
    flex-wrap: wrap;
  }
  .footer1 {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
