.imageIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dell215Inch,
.div,
.value {
  position: relative;
  line-height: 20px;
}
.dell215Inch {
  align-self: stretch;
}
.div,
.value {
  white-space: nowrap;
}
.div {
  align-self: stretch;
  width: 57px;
  text-decoration: line-through;
  display: none;
}
.value {
  font-weight: 600;
  color: var(--secondary-500);
  display: inline-block;
  min-width: 36px;
}
.content,
.price,
.product {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.price {
  flex-direction: row;
  gap: var(--gap-9xs);
  color: var(--gray-400);
}
.content,
.product {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.product {
  flex: 1;
  background-color: var(--gray-00);
  border: 1px solid var(--gray-100);
  overflow: hidden;
  padding: var(--padding-base) var(--padding-mini) var(--padding-base)
    var(--padding-base);
  z-index: 2;
  text-align: left;
  font-size: var(--body-small-400-size);
  color: var(--gray-900);
  font-family: var(--body-small-400);
}
