.blackIcon {
  height: 43.8px;
  width: 76px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 21.9px);
  left: 299px;
  object-fit: contain;
}
.friday {
  text-decoration: none;
  position: relative;
  line-height: 32px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 72px;
  white-space: nowrap;
}
.fridayWrapper {
  width: 239.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.upTo {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 35px;
  white-space: nowrap;
}
.upToWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.off,
.percentSign {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.percentSign {
  font-size: var(--display-04-size);
  line-height: 48px;
  color: var(--warning-500);
  min-width: 90px;
}
.off {
  line-height: 28px;
  color: inherit;
  min-width: 40px;
}
.offWrapper {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--body-xl-600-size);
}
.discount,
.discountWrapper,
.offWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.discount {
  margin: 0;
  flex-direction: row;
  gap: var(--gap-5xs-5);
  text-align: left;
  font-size: var(--body-small-400-size);
  color: var(--gray-00);
  font-family: var(--body-small-400);
}
.discountWrapper {
  width: 351px;
  flex-direction: column;
  max-width: 100%;
}
.label {
  text-decoration: none;
  position: relative;
  font-size: var(--body-small-400-size);
  letter-spacing: 0.01em;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--body-small-400);
  color: var(--gray-900);
  text-align: left;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.regulararrowrightIcon {
  width: 20px;
  height: 20px;
  position: relative;
}
.button,
.regulararrowrightWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-5xl);
  background-color: var(--warning-500);
  border-radius: var(--br-11xs);
  flex-direction: row;
  gap: var(--gap-5xs);
}
.duotonexIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.closeButton,
.closeButtonWrapper,
.widget {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.closeButton {
  border-radius: var(--br-11xs);
  background-color: var(--gray-800);
  flex-direction: row;
  padding: var(--padding-5xs);
}
.closeButtonWrapper,
.widget {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.widget {
  align-self: stretch;
  background-color: var(--gray-900);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-base)
    var(--padding-368xl);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-xxl-400-size);
  color: var(--gray-00);
  font-family: var(--body-small-400);
}
@media screen and (max-width: 1275px) {
  .widget {
    padding-left: var(--padding-174xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .widget {
    padding-left: var(--padding-77xl);
    box-sizing: border-box;
  }
}
